.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 40px auto 0;
  background-color: var(--primary); /* Background blue */
  border-radius: 15px; /* Rounded corners */
  padding: 8px 16px; /* Padding around the content */
  color: white; /* Text color white */
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: white; /* Content color white */
  font-family: "Franklin Gothic Book", sans-serif;
  font-size: clamp(14px, 1vw, 20px);
  transition: all 0.3s ease-in-out;
}

.menu li a:hover {
  cursor: pointer;
}

.nav-btn {
  border: none;
  background: white; /* Button white */
  color: var(--primary); /* Text blue */
  border-radius: 15px;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font: 16px "Franklin Gothic Medium", sans-serif;
  transition: all 0.3s ease;
}

.nav-btn a {
  color: var(--primary); /* Text blue */
}

.nav-btn:hover {
  transition: all 0.3s ease-in-out;
}

#open {
  display: none;
}

.sidebar {
  display: none;
}